BasedOnStyle: Google
ColumnLimit: 120
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Linux
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
FixNamespaceComments: false
IncludeBlocks: Regroup
SortIncludes: true
IndentWidth: 4
TabWidth: 4
UseTab: Never
IndentCaseBlocks: true
KeepEmptyLinesAtTheStartOfBlocks: false
DerivePointerAlignment: false
PointerAlignment: Left
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: No
IndentGotoLabels: false
